# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyACJl8OZTokxs_W89NY0UE8PQRW8LjKqRY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=teamsync-ai-5c170.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=teamsync-ai-5c170
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=teamsync-ai-5c170.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=167033350498
NEXT_PUBLIC_FIREBASE_APP_ID=1:167033350498:web:1b886d77ee5fa06dde243b

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:5000/api